{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<h1 class="mt-4 mb-5">ACHIVEMENTS</h1>

<div class="col-11 mx-auto">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for achivement in getAchivements %}

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ achivement.0 }}</h5>
                        <p class="card-text">{{ achivement.1 }}</p>
                    </div>
                    <div class="card-footer">
                        {% if achivement.2 != None %}
                        <small class="text-body-secondary">{{ achivement.2 }}</small>
                        {% endif %}
                        {% if achivement.3 != None %}
                        <small class="text-body-secondary">{{ achivement.3 }}</small>
                        {% endif %}
                        {% if achivement.4 != None %}
                        <small class="text-body-secondary">{{ achivement.4 }}</small>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ moment(achivement.5).format('MMMM YYYY') }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}
