<div class="col-11 mx-auto">
    <h2 id="achivements" class="mb-3">Achivements</h2>
    <div class="col-3">
        <div class="d-grid gap-2">
            <a class="btn btn-dark mb-1" href="{{ url_for('createAchivement') }}">Create Achivement</a>
        </div>
    </div>
    <div class="col-12 mx-auto">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Institution</th>
                    <th scope="col">Event</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Country</th>
                    <th scope="col">Date</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for achivement in getAchivements %}
                <tr>
                    <td>{{achivement.0}}</td>
                    <td>{{achivement.1}}</td>
                    <td>{{achivement.2}}</td>
                    <td>{{achivement.3}}</td>
                    <td>{{achivement.4}}</td>
                    <td>{{ moment(achivement.5).format('MMMM YYYY') }}</td>
                    <td><a class="btn btn-secondary mb-1" href="">Modify Achivement</a></td>
                    <td><a class="btn btn-danger mb-1" href="">Delete Achivement</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
