{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

    <div class="col-lg-12 mx-auto ">

        <div class="col-md-10 m-5 mx-auto c ">
            <h1>Create Volunteering</h1>
        </div>

        <div class="col-md-7 mx-auto p-5 backform">

            <form action="createVolunteer" method="POST">
                <div class="mb-3">
                    <label for="institution" class="form-label">Institution</label>
                    <input type="text" class="form-control" id="institution" name="institution">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>

                <div class="row mb-3">
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state">
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" name="country">
                        </div>
                    </div>
                </div>

                <div class="row mb-3"></div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="datein" class="form-label">Date Start</label>
                            <input type="date" class="form-control" id="datein" name="datein">
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="dateout" class="form-label">Date End</label>
                            <input type="date" class="form-control" id="dateout" name="dateout">
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 mt-5 mx-auto ">
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="SUBMIT">
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock content %}