<div class="col-11 mx-auto">
    <div class="col-11 mx-auto">
        <img class="p-4 imgred" src="static/img/img/gabriel.jpg" alt="">
    </div>

    <div class="col-11 mx-auto">
        <p class="smalltxt txtcolw c">{{ getUserInfo.12 }}</p>
    </div>

    <div class="col-11 mx-auto mt-3">
        <h5 class="maintxt c">Contact</h5>
    </div>

    <div class="col-9 mx-auto">
        <P class="subtxt"><small>Phone</small></P>
        <P class="smalltxt"><small>+{{ getUserInfo.3 }} {{ getUserInfo.4 }}</small></P>
        <hr>
        <P class="subtxt"><small>Email</small></P>
        <P class="smalltxt"><small>{{ getUserInfo.2 }}</small></P>
        <hr>
        <P class="subtxt"><small>Address</small></P>
        <P class="smalltxt"><small>{{ getUserInfo.5 }}</small></P>
        <P class="smalltxt"><small>{{ getUserInfo.6 }}, {{ getUserInfo.7 }}</small></P>
        <hr>
    </div>

    <div class="col-9 mx-auto">
        <P class="subtxt"><small>Language</small></P>
        <P class="smalltxt"><small>Maiden language: {{ getUserInfo.23 }}</small></P>
        <P class="smalltxt"><small>Second language: {{ getUserInfo.24 }} "{{ getUserInfo.25 }}"</small></P>
        <hr>
    </div>

    <div class="col-11 mx-auto mt-5 mb-5">
        <div class="row">
            <div class="col-3 mx-auto">
                <a class="btn btn-social btn-facebook" href="{{ getUserInfo.18 }}" target="_blank">
                    <img class="imgred" src="static/img/redes/facebook.png" alt="">
                </a>
            </div>
            <div class="col-3 mx-auto">
                <a class="btn btn-social btn-facebook" href="{{ getUserInfo.19 }}" target="_blank">
                    <img class="imgred" src="static/img/redes/twitter.png" alt="">
                </a>
            </div>
            <div class="col-3 mx-auto">
                <a class="btn btn-social btn-facebook" href="{{ getUserInfo.20 }}" target="_blank">
                    <img class="imgred" src="static/img/redes/linkedin.png" alt="">
                </a>
            </div>
            <div class="col-3 mx-auto">
                <a class="btn btn-social btn-facebook" href="{{ getUserInfo.21 }}" target="_blank">
                    <img class="imgred" src="static/img/redes/whatsapp.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>