<div class="col-11 mx-auto mt-4 mb-4">
    <div class="btn-group">
        <a href="/" class="btn btn-outline-dark" aria-current="page">Home</a>
        <a href="/experience" class="btn btn-outline-dark" aria-current="page">Experience</a>
        <a href="/education" class="btn btn-outline-dark">Education</a>
        <a href="/project" class="btn btn-outline-dark">Projects</a>
        <a href="/skills" class="btn btn-outline-dark">Skills</a>
        <a href="/awards" class="btn btn-outline-dark">Awards</a>
        <a href="/achivements" class="btn btn-outline-dark">Achivements</a>
        <a href="/certifications" class="btn btn-outline-dark">Certifications</a>
        <a href="/volunteer" class="btn btn-outline-dark">Volunteering</a>
    </div>
</div>