{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

    <h1 class="mt-4 mb-5">PROJECTS</h1>

    <div class="col-11 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for project in getProjects %}

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.0 }} / {{ project.1 }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ moment(project.2).format('MMMM YYYY') }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{ project.4 }}</small> <br>
                            {% if project.5 != None %}
                            <small class="text-body-secondary">Customer: {{ project.5 }}</small> <br>
                            {% endif %}
                            {% if project.6 != None %}
                            <small class="text-body-secondary">Deploy: {{ project.6 }}</small>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if project.7 != None %}
                            <a href="{{ project.7 }}" target="_blank"><p class="card-text">Video: {{ project.7 }}</p></a>
                            {% endif %}

                            {% if project.8 != None %}
                            <a href="{{ project.8 }}" target="_blank"><p class="card-text">Link: {{ project.8 }}</p></a>
                            {% endif %}

                            {% if project.9 != None %}
                            <a href="{{ project.9 }}" target="_blank"><p class="card-text">Github: {{ project.9 }}</p></a>
                            {% endif %}
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
    
{% endblock %}
