{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

    <h1 class="mt-4 mb-5">SKILLS</h1>

    <div class="col-11 mx-auto">
        <div class="row row-cols-2 row-cols-md-3 g-6">
            {% for skill in getSkills %}

                <div class="col">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ skill.0 }}</h5>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
    
{% endblock %}
