{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

    <h1 class="mt-4 mb-3">DASHBOARD</h1>
    <div class="col-11 mx-auto mt-4 mb-4">
        <div class="btn-group">
            <a href="#experience" class="btn btn-outline-secondary">Experience</a>
            <a href="#education" class="btn btn-outline-secondary">Education</a>
            <a href="#project" class="btn btn-outline-secondary">Projects</a>
            <a href="#skills" class="btn btn-outline-secondary">Skills</a>
            <a href="#awards" class="btn btn-outline-secondary">Awards</a>
            <a href="#achivements" class="btn btn-outline-secondary">Achivements</a>
            <a href="#certifications" class="btn btn-outline-secondary">Certifications</a>
            <a href="#volunteer" class="btn btn-outline-secondary">Volunteering</a>
        </div>
    </div>

    {% include 'dashboard/experience/allExperience.html' %}

    {% include 'dashboard/education/allEducation.html' %}

    {% include 'dashboard/project/allProject.html' %}

    {% include 'dashboard/skills/allSkills.html' %}

    {% include 'dashboard/awards/allAwards.html' %}

    {% include 'dashboard/achivements/allAchivements.html' %}

    {% include 'dashboard/certifications/allCertifications.html' %}

    {% include 'dashboard/volunteer/allVolunteer.html' %}


{% endblock %}
